
services/site/node_modules
.DS_Store
._.DS_Store
.env
dist/
storage/db/
storage/app_crt/
storage/mysql/
storage/data/
storage/logs/
storage/tmp/
storage/update/

static/static_root/
static/media_root/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vs/
.idea/
__pycache__/
.mypy_cache/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.pyc